.App {
  text-align: center;
}
#place-name{
  display: block;
  margin: 2rem auto;
}
#main{
display: flex;
flex-direction: column;
align-items: center;
}
select{
  width: 250px;
  padding: 0.3rem;
  background-color: #d9dedb;
}

h1{
  background-color: #f8fff3;
  width: 15%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
}
.recharts-surface{
  background-color: #f8fff3;
}
.recharts-legend-wrapper{
  bottom: -47px !important;
}
img{
  height:30px;
  width: 30px;
  margin-right: 0.3rem;
}